PORT=3001
FRONTEND_URL=http://localhost:5173

# True Wallet (กรอก Phone ที่ผูก True Wallet)
TRUEWALLET_PHONE=0960530977

# PromptPay (กรอกเลขบัตรประชาชน หรือ เบอร์โทร)
PROMPTPAY_ID=0960530977

# Admin password สำหรับเข้าหน้า History / Settings
ADMIN_PASSWORD=admin1234
